<div class="title">
  <h1>Angular TODO</h1>
  <button (click)="logoutHandler()">Logout</button>
</div>

<div class="inputBlock">
  <input class="input" type="text" placeholder="Add new todolist" [(ngModel)]="todoTitle" />
  <button (click)="addTodoHandler()">+</button>
</div>
<div class="todosContainer">
  <tl-todo
    *ngFor="let todo of todos$ | async"
    [todo]="todo"
    (sendTodoIdEvent)="removeTodo($event)"
    (sendTodoTitleEvent)="editTodoTitle($event)"
    (changeFilterEvent)="changeFilter($event)"></tl-todo>
</div>
